In [1]:
import os
import plotly.graph_objects as go
from tqdm import tqdm

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

Dataset pereparation

In [2]:
POS_TARGET = 1
NEG_TARGET = 0

train_dir_pos = './dataset/train/pos/'
train_dir_neg = './dataset/train/neg/'

test_dir_pos = './dataset/test/pos/'
test_dir_neg = './dataset/test/neg/'

unlabeled_dir = './dataset/train/unsup/'

Unsupervied

In [3]:
corpus = [] 
for file in tqdm(os.listdir(unlabeled_dir)):
    with open(unlabeled_dir + file, 'r', encoding='utf-8') as f:
        corpus.append([f.read()])
        
unsupervised_df = pd.DataFrame(corpus, columns=['Text'])
unsupervised_df.to_pickle('dataset/unsup.pkl')
unsupervised_df

100%|███████████████████████████████████████████████████████████████████████████| 50000/50000 [03:09<00:00, 263.45it/s]

                                                    Text
0      I admit, the great majority of films released ...
1      Take a low budget, inexperienced actors doubli...
2      Everybody has seen 'Back To The Future,' right...
3      Doris Day was an icon of beauty in singing and...
4      After a series of silly, fun-loving movies, 19...
...                                                  ...
49995  Delightfully awful! Made by David Giancola, a ...
49996  Watching Time Chasers, it obvious that it was ...
49997  At the beginning we can see members of Troma t...
49998  The movie was incredible, ever since I saw it ...
49999  TCM came through by acquiring this wonderful, ...

[50000 rows x 1 columns]

Supervised

In [4]:
corpus = [] 
for file in tqdm(os.listdir(train_dir_pos)):
    with open(train_dir_pos + file, 'r', encoding='utf-8') as f:
        corpus.append([POS_TARGET, f.read()])
        
for file in tqdm(os.listdir(train_dir_neg)):
    with open(train_dir_neg + file, 'r', encoding='utf-8') as f:
        corpus.append([NEG_TARGET, f.read()])

train_df = pd.DataFrame(corpus, columns=['Target', 'Text'])

train_df.loc[0:5, :].to_csv('example.csv', index=False)

100%|█████████████████████████████████████████████████████████████████████████| 12500/12500 [00:00<00:00, 13904.35it/s]
100%|█████████████████████████████████████████████████████████████████████████| 12500/12500 [00:00<00:00, 12919.36it/s]

In [5]:
train_df

       Target                                               Text
0           1  Bromwell High is a cartoon comedy. It ran at t...
1           1  Homelessness (or Houselessness as George Carli...
2           1  Brilliant over-acting by Lesley Ann Warren. Be...
3           1  This is easily the most underrated film inn th...
4           1  This is not the typical Mel Brooks film. It wa...
...       ...                                                ...
24995       0  Towards the end of the movie, I felt it was to...
24996       0  This is the kind of movie that my enemies cont...
24997       0  I saw 'Descent' last night at the Stockholm Fi...
24998       0  Some films that you pick up for a pound turn o...
24999       0  This is one of the dumbest films, I've ever se...

[25000 rows x 2 columns]

In [6]:
corpus = [] 
for file in tqdm(os.listdir(test_dir_pos)):
    with open(test_dir_pos + file, 'r', encoding='utf-8') as f:
        corpus.append([POS_TARGET, f.read()])
        
for file in tqdm(os.listdir(test_dir_neg)):
    with open(test_dir_neg + file, 'r', encoding='utf-8') as f:
        corpus.append([NEG_TARGET, f.read()])

test_df = pd.DataFrame(corpus, columns=['Target', 'Text'])

100%|███████████████████████████████████████████████████████████████████████████| 12500/12500 [00:50<00:00, 245.84it/s]
100%|███████████████████████████████████████████████████████████████████████████| 12500/12500 [00:59<00:00, 209.84it/s]

In [7]:
test_df

       Target                                               Text
0           1  I went and saw this movie last night after bei...
1           1  Actor turned director Bill Paxton follows up h...
2           1  As a recreational golfer with some knowledge o...
3           1  I saw this film in a sneak preview, and it is ...
4           1  Bill Paxton has taken the true story of the 19...
...       ...                                                ...
24995       0  I occasionally let my kids watch this garbage ...
24996       0  When all we have anymore is pretty much realit...
24997       0  The basic genre is a thriller intercut with an...
24998       0  Four things intrigued me as to this film - fir...
24999       0  David Bryce's comments nearby are exceptionall...

[25000 rows x 2 columns]

In [8]:
train_df = train_df.drop_duplicates()
test_df = test_df.drop_duplicates()

len(train_df), len(test_df), len(train_df) + len(test_df)

(24904, 24801, 49705)

In [10]:
train_df.to_pickle('dataset/train.pkl') #Pkl, because it is way faster in reading
test_df.to_pickle('dataset/test.pkl')

In [38]:
s = test_df.sample(frac=0.0003)
s['Text'] = s['Text'].apply(lambda a: a[0:200] + '...')
s.to_csv('example.csv', index=False)
s

       Target                                               Text
21006       0  There was a time when Joel Schumacher was rank...
4873        1  This little picture succeeds where many a big ...
16109       0  Just watched on UbuWeb this early experimental...
18464       0  What a waste of great acting talent. This is a...
16595       0  This movie plays out like an English version o...
4309        1  I first saw this movie at least thirty years a...
696         1  I totally disagree with the comments of one of...